PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=alzalert
DB_USER=postgres
DB_PASSWORD=yourpassword
JWT_SECRET=supersecretkey123
JWT_EXPIRES_IN=7d
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
S3_BUCKET_NAME=alzalert-photos

# s3 | fs
FILE_UPLOAD=s3

# Filesystem mode only
UPLOAD_DIR=./uploads
PUBLIC_BASE_URL=http://localhost:5000
